<div id="template">
  <div :class="{ row:true, report:true }" style="margin-bottom: 0;">
    <div class="row" v-if="type == 1" style="margin-bottom: 0;">
      <div>
        <div class="card">
          <table class="leaderTable table table-striped">
            <thead>
              <tr>
                <th>員工編號</th>
                <th>員工姓名</th>
                <th>評分主管</th>
                <th>評分</th>
                <th>目標達成率</th>
                <th>工作品質</th>
                <th>工作方法</th>
                <th>出錯率</th>
                <th>進度追蹤</th>
                <th>企劃能力</th>
                <th>執行力</th>
                <th>判斷力</th>
                <th>應變能力</th>
                <th>出勤率</th>
                <th>組員出勤</th>
                <th>特殊貢獻</th>
                <th>重大缺失</th>
                <th>獎金發放</th>
              </tr>
            </thead>
            <tbody>
              <template v-for="(report,index) in reports._reports">
                <tr>
                  <td
                    :rowspan="report._evaluating.length + 2"
                    :class="{'is-release':report.releaseFlag=='Y'}"
                  >
                    {{report._staff_detail.staff_no}}
                  </td>
                  <td
                    :rowspan="report._evaluating.length + 2"
                    :class="{'is-release':report.releaseFlag=='Y'}"
                  >
                    {{report._staff_detail.name}}
                    {{report._staff_detail.name_en}}
                  </td>
                </tr>
                <tr
                  v-for="(evaluating, evaluating_i) in report._evaluating"
                  :class="{ 'grey-text': !checkIsSubmited(evaluating._evaluator_detail.id) }"
                >
                  <td>{{evaluating._evaluator_detail.name_en}}</td>
                  <td>
                    <template v-if="evaluating.should_count == 1">
                      是
                    </template>
                    <template v-else>否</template>
                  </td>
                  <td>
                    <template v-if="evaluating.should_count == 1">
                        {{report.target}}
                    </template>  
                    <template v-else>-</template>
                  </td>
                  <td>
                    <template v-if="evaluating.should_count == 1">
                        {{report.quality}}
                    </template>  
                    <template v-else>-</template>
                  </td>
                  <td>
                    <template v-if="evaluating.should_count == 1">
                        {{report.method}}
                    </template>  
                    <template v-else>-</template>  
                  </td>
                  <td>
                    <template v-if="evaluating.should_count == 1">
                        {{report.error}}
                    </template>  
                    <template v-else>-</template>
                  </td>
                  <td>
                    <template v-if="evaluating.should_count == 1">
                        {{report.backtrack}}
                    </template>  
                    <template v-else>-</template></td>
                  <td>
                    <template v-if="evaluating.should_count == 1">
                        {{report.planning}}
                    </template>  
                    <template v-else>-</template>
                  </td>
                  <td>
                    <template v-if="evaluating.should_count == 1">
                        {{report.execute}}
                    </template>  
                    <template v-else>-</template>
                  </td>
                  <td>
                    <template v-if="evaluating.should_count == 1">
                        {{report.decision}}
                    </template>  
                    <template v-else>-</template>
                  </td>
                  <td>
                    <template v-if="evaluating.should_count == 1">
                        {{report.resilience}}
                    </template>  
                    <template v-else>-</template>
                  </td>
                  <td>
                    <template v-if="evaluating.should_count == 1">
                        {{report.attendance}}
                    </template>  
                    <template v-else>-</template>
                  </td>
                  <td>
                    <template v-if="evaluating.should_count == 1">
                        {{report.attendance_members}}
                    </template>  
                    <template v-else>-</template>
                  </td>
                  <td>
                    <template v-if="evaluating.should_count == 1">
                        {{report.addedValue}}
                    </template>  
                    <template v-else>-</template>
                  </td>
                  <td class="red-text">
                    <template v-if="evaluating.should_count == 1">
                        {{report.mistake}}
                    </template>  
                    <template v-else>-</template>
                  </td>
                  <td>
                    <template v-if="evaluating.bonus == 1">
                      是
                    </template>
                    <template v-else>否</template>
                  </td>
                </tr>
                <tr
                  style="
                    background-color: rgb(236, 236, 236);
                    font-weight: 600;
                  "
                >
                  <td>結算</td>
                  <td>-</td>
                  <td>{{report.target}}</td>
                  <td>{{report.quality}}</td>
                  <td>{{report.method}}</td>
                  <td>{{report.error}}</td>
                  <td>{{report.backtrack}}</td>
                  <td>{{report.planning}}</td>
                  <td>{{report.execute}}</td>
                  <td>{{report.decision}}</td>
                  <td>{{report.resilience}}</td>
                  <td>{{report.attendance}}</td>
                  <td>{{report.attendance_members}}</td>
                  <td>{{report.addedValue}}</td>
                  <td class="red-text">{{report.mistake}}</td>
                  <td>
                    <template v-if="report.bonus == 1">
                      是
                    </template>
                    <template v-else>否</template>
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row" v-if="type == 2" style="margin-bottom: 0;">
      <div>
        <div class="card">
          <table class="staffTable table table-striped">
            <thead>
              <tr>
                <th>員工編號</th>
                <th>員工姓名</th>
                <th>評分主管</th>
                <th>評分</th>
                <th>工作品質</th>
                <th>工作績效</th>
                <th>責任感</th>
                <th>配合度</th>
                <th>出席率</th>
                <th>特殊貢獻</th>
                <th>重大缺失</th>
                <th>獎金發放</th>
              </tr>
            </thead>
            <tbody>
              <template v-for="(report,index) in reports._reports">
                <tr>
                  <td
                    :rowspan="report._evaluating.length + 2"
                    :class="{'is-release':report.releaseFlag=='Y'}"
                  >
                    {{report._staff_detail.staff_no}}
                  </td>
                  <td
                    :rowspan="report._evaluating.length + 2"
                    :class="{'is-release':report.releaseFlag=='Y'}"
                  >
                    {{report._staff_detail.name}}
                    {{report._staff_detail.name_en}}
                  </td>
                </tr>
                <tr
                  v-for="(evaluating, evaluating_i) in report._evaluating"
                  :class="{ 'grey-text': !checkIsSubmited(evaluating._evaluator_detail.id) }"
                >
                  <td>{{evaluating._evaluator_detail.name_en}}</td>
                  <td>
                    <template v-if="evaluating.should_count == 1">
                      是
                    </template>
                    <template v-else>否</template>
                  </td>
                  <td>
                    <template v-if="evaluating.should_count == 1">
                        {{evaluating.quality}}
                      </template>
                      <template v-else>-</template>
                  </td>
                  <td>
                    <template v-if="evaluating.should_count == 1">
                        {{evaluating.completeness}}
                      </template>
                      <template v-else>-</template></td>
                  <td><template v-if="evaluating.should_count == 1">{{evaluating.responsibility}}</template>
                    <template v-else>-</template></td>
                  <td><template v-if="evaluating.should_count == 1">{{evaluating.cooperation}}</template>
                    <template v-else>-</template></td>
                  <td><template v-if="evaluating.should_count == 1">{{evaluating.attendance}}</template>
                    <template v-else>-</template></td>
                  <td><template v-if="evaluating.should_count == 1">{{evaluating.addedValue}}</template>
                    <template v-else>-</template></td>
                  <td style="color: red;"><template v-if="evaluating.should_count == 1">{{evaluating.mistake}}</template>
                    <template v-else>-</template></td>
                  <td>
                    <template v-if="evaluating.bonus == 1">
                      是
                    </template>
                    <template v-else>否</template>
                  </td>
                </tr>
                <tr
                  style="
                    background-color: rgb(236, 236, 236);
                    font-weight: 600;
                  "
                >
                  <td>當前小計</td>
                  <td>-</td>
                  <td>{{report.quality}}</td>
                  <td>{{report.completeness}}</td>
                  <td>{{report.responsibility}}</td>
                  <td>{{report.cooperation}}</td>
                  <td>{{report.attendance}}</td>
                  <td>{{report.addedValue}}</td>
                  <td style="color: red;">{{report.mistake}}</td>
                  <td>
                    <template v-if="report.bonus == 1">
                      是
                    </template>
                    <template v-else>否</template>
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<style></style>

<script>
  var ele = document.getElementById("template");

  Vue.component("month-appraisal-report", {
    props: ["type", "reports"],
    template: ele.innerHTML,
    methods: {
      isDisabled() {
        return false;
      },
      checkIsSubmited(id) {
        return this.reports._submited_staff.find(function (item) {
          return item == id;
        });
      },
    },
  });

  ele.parentNode.removeChild(ele);
</script>
