.rv-year-evaluation {
  .rv-title{
    overflow: auto;
    >div{
      display: inline-block;
    }
    .linkBtn{
    font-size: 14px;
    }
  }
    .rv-numberOfPeopleArea {
        margin: 10px 24px;
        color: #000;
        .number-title {
            font-size: 18px;
            text-align: center;
            margin-top: 20px;
        }
        .number-content {
            margin-bottom: 20px;
            text-align: center;
            .number-text {
                display: inline-block;
                &>span {
                    padding: 0px 10px;
                }
            }
        }
        a {
            cursor: pointer;
            color: #D2D0D0;
            &:hover {
                color: #f57c00;
            }
        }
        table {
            table-layout: fixed;
            margin: 5px;
            th,
            td {
                border: 1px solid #d8d8d8;
            }
        }
    }

    .sidenav {
        width: calc(100% - 240px);
        height: 100%;
        position: fixed;
        box-sizing: border-box;
        z-index: 5;
        top: 64px;
        left: 100%;
        background-color: #fff;
        overflow-x: hidden;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        .sideArea {
            padding: 20px 20px 60px;
            background: transparent;
            background: #FFF;
        }
        .save {
            right: 80px;
            position: absolute;
            bottom: 0;
            margin: 0;
        }
    }
    .moveleft {
        left: 240px;
        transform: translate3d(0, 0, 0);
        will-change: transform;
        animation-name: gogomove;
        animation-duration: 1s;
    }
    @keyframes gogomove {
        from {
            left: 100%;
        }
        to {
            left: 240px;
        }
    }
    .card-header {
        position: relative;
        border: 1px solid #EEE;
        .info-block {
            padding: 20px 30px;
            .top {
                color: #737070;
            }
            h1 {
                margin: 0px;
                color: #FF7171;
            }


            .date {
                h1 {
                    color: #747474 !important;
                }
            }
            .arrow {
                padding: 0px 15px 0px 10px;
                svg {
                    vertical-align: middle;
                    fill: #B7B7B7;
                }
            }
            &.right-border {
                border-right: 1px solid #eee;
            }
            &.division-progress {
                .progress-group {
                    height: 22px;
                    .progress-status {
                        width: 20px;
                        height: 10px;
                        border: 1px solid #d8d8d8;
                        border-radius: 12px;
                        margin-top: 5px;
                        margin-right: 5px;
                        float: left;
                        &.first {
                            background: #dfe9f3;
                        }
                        &.second {
                            background: #98cafb;
                        }
                        &.third {
                            background: #ffd54f;
                        }
                        &.fourth {
                            background: #ff9222;
                        }
                        &.fifth {
                            background: #4CAF50;
                        }
                    }
                    h1 {
                        display: none;
                    }
                }
                &:hover {
                    .progress-status {
                        display: none;
                    }
                    h1 {
                        display: block;
                    }
                }
            }
        }
        .icon-block {
            position: absolute;
            right: -10px;
            bottom: -30px;
            svg {
                width: 120px;
                line-height: 80px;
                vertical-align: bottom;
                fill: #FF7171;
            }
        }
        &.own {
            .info-block {
                h1 {
                    color: #4382f3;
                }
            }
            .icon-block {
                svg {
                    fill: #4382f3;
                }
            }
        }
    }
    .card-body {
        .brand-actions {
            float: none;
            padding: 0px 25px;
            box-sizing: border-box;
            border-bottom: 1px solid #eee;
            span {
                display: inline-block;
                padding: 0px 10px;
                a {
                    margin: 12px 3px;
                }
                &.form-actions {}
                &.line {
                    height: 20px;
                    width: 1px;
                    background: #DDD;
                    padding: 0px;
                    vertical-align: baseline;
                }
            }
        }
        .year-evaluation-item-group {
            padding: 10px 40px;
            .year-evalution-table {
                width: 100%;
                overflow-x: auto;
                box-sizing: border-box;
            }
        }
        .step {
            font-size: 18px;
            line-height: 22px;
            font-weight: bolder;
            color: #5F5F5F;
            padding: 0px 40px;
            margin-top: 30px;
            margin-bottom: 10px;
            clear: both;
            span {
                display: inline-block;
                &.no {
                    font-family: 'Poppins', sans-serif;
                    font-size: 26px;
                    padding-right: 5px;
                }
                &.note {
                    margin-left: 10px;
                    padding-left: 10px;
                    border-left: 1px solid #C5C5C5;
                }
            }
        }
        table,
        th,
        td {
            border: 1px solid #CCC;
        }
        table {
            margin: 10px 0px 20px;
            border-collapse: collapse;
            th {
                background: #737070;
                color: #EEE;
                padding: 15px 20px;
                letter-spacing: 1px;
                span {
                    font-size: 12px;
                    vertical-align: middle;
                }
                i {
                    font-size: 12px;
                    vertical-align: middle;
                }
            }
            td {
                font-size: 15px;
                font-weight: bolder;
            }
            tbody {
                tr {
                    &.ready {
                        background: #EEE;
                        color: #949494;
                        select {
                            cursor: not-allowed;
                        }
                    }
                    &.done {
                        background: #C9D7E3;
                        color: #444;
                    }
                    &.opppen {
                        color: #000;
                        background: white;
                    }
                    td {
                        select {
                            padding: 5px;
                            cursor: pointer;
                        }
                        .total {
                            .btn {
                                width: 90px;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
        .division-table-area {
            margin: 10px 0px 20px;
            position: relative;
            table {
                margin: 0px;
                &#division-table-header {
                    table-layout: fixed;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    overflow: hidden;
                    z-index: 2;
                    tbody {
                        display: none;
                    }
                }
                &#division-table {
                    table-layout: fixed;
                }
            }
            .division-table-body {
                min-height: 334px;
                max-height:  550px;
                overflow: auto;
                .addScore{
                  &:hover{
                       background-color: #fae8d4;
                  }
                }
            }
        }
        .level-group {
            &:after {
                display: block;
                content: "";
                clear: both;
            }
            .l2 {
                width: calc(100%/5); // padding: 0;
                padding-right: 10px;
            }
            @media only screen and (max-width: 1645px) {
                .s2 {
                    width: 18.8%;
                }
            }
            .bs-component {
                position: relative;
                .level-blocks {
                    position: relative;
                    overflow: hidden;
                    margin-bottom: 20px;
                    border: 1px solid #eee;
                    border-color: #e7e7e7;
                    border-radius: 2px;
                    background-color: #fff;
                    box-shadow: none;
                    text-align: center;
                    .level-header {
                        padding: 12px;
                        border-bottom: 1px solid #EEE;
                        .fs11 {
                            font-size: 11px;
                            i {
                                font-size: 14px;
                                font-weight: bold;
                                transform: translateY(3px);
                            }
                        }
                    }
                    .level-body {
                        color: #666;
                        position: relative;
                        .fs35 {
                            margin: 10px;
                            font-size: 35px;
                            font-family: inherit;
                            font-weight: 600;
                            line-height: 1.1;
                            color: inherit;
                            border: 0;
                            background: 0;
                            text-align: center;
                        }
                        .text-system {
                            color: #37bc9b;
                            font-size: 11px;
                            font-weight: bold;
                            letter-spacing: 1px;
                        }
                    }
                    .level-footer {
                        padding: 12px;
                        border-top: 1px solid #EEE;
                        .fs11 {
                            font-size: 11px;
                            i {
                                font-size: 14px;
                                font-weight: bold;
                                transform: translateY(3px);
                            }
                        }
                    }
                }
            }
            .level-area {
                border: 1px solid #D8D8D8;
                display: inline-block;
                float: left;
                padding: 8px 20px;
                border-radius: 6px;
                width: 18%;
                margin: 1%;
                &:after {
                    display: block;
                    content: "";
                    clear: both;
                }
                &>span {
                    float: left;
                    color: #D8D8D8;
                    &.level {
                        font-size: 70px;
                        line-height: 76px;
                        width: 80px;
                    }
                    &.level-now-no {
                        font-size: 70px;
                        line-height: 76px;
                        color: #333;
                        min-width: 55px;
                        text-align: center;
                    }
                    &.level-range {
                        position: relative;
                        top: 18px;
                        float: right;
                        &>span {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.evaluation-modal {
    .tab-area {
        padding: 10px 10px 10px 20px;
    }
    .tab-content {
        padding: 20px;
        border: 1px solid #D8D8D8;
        margin-top: 5px;
        margin-bottom: 20px;
        .content {
            .content-list {
                list-style-type: disc;
                margin: 10px 0px;
                padding: 10xp 0px;
                white-space: pre-wrap;
                // border-bottom: 1px solid #D8D8D8;
                &>span {
                    display: inline-block;
                    padding: 8px;
                    margin-bottom: 8px;
                    &.no {
                        text-align: center;
                        color: #6B6B6B;
                        border: 1px solid #d8d8d8;
                        width: 100%;
                    }
                }
                &>li {
                  white-space: pre-wrap;
                    &.text {
                        margin: 5px 0;
                        padding: 10px 0;
                        word-break: break-all;
                    }
                }
                &>p {
                    margin-top: 5px;
                }
                &.single-content {
                    list-style-type: none;
                    &>li {
                        &.text {
                            list-style-type: none;
                        }
                    }
                }
            }
        }
    }
}


.stepperInput {
    display: flex;
    justify-content: center;
}

.stepperInput__input {
    border-left: 0;
    border-right: 0;
    width: 36px;
    text-align: center;
    padding:0 !important;
}

.button {
    cursor: pointer;
    padding: 5px 15px;
    color: #FFFFFF;
    background-color: #f57c00;
    font-size: 12px;
    border: 1px solid #f57c00;
    border-radius: 4px;
}

.button--addOnLeft {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button--addOnRight {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input {
    border: 1px solid #D7DBDD;
    padding: 0 10px;
    border-radius: 0;
    box-shadow: none;
}

.copy-button {
    margin: 0px 8px;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.18);
    color: #ff7a19;
    vertical-align: middle;
    box-shadow: 1px 1px 3px #838383;
    font-size: 13px;
    white-space: nowrap;
    background: #fff;
    i {
        font-size: 24px;
        vertical-align: middle;
        margin-right: 5px;
    }
}

@media only screen and (max-width: 1280px) {
    .rv-year-evaluation {
        .sidenav {
            width: 100%;
        }
        .moveleft {
            left: 0px;
        }
        @keyframes gogomove {
            from {
                left: 100%;
            }
            to {
                left: 0px;
            }
        }
    }
}

.too-over {
    display: block;
    cursor: pointer;
    box-shadow: 0 0 0 #ffb7b7;
    animation: warning 2s infinite;
}

@-webkit-keyframes warning {
    0% {
        -webkit-box-shadow: 0 0 0 0 0 0 0 0 rgb(188, 32, 38);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes warning {
    0% {
        -moz-box-shadow: 0 0 0 0 rgb(188, 32, 38);
        box-shadow: 0 0 0 0 rgb(188, 32, 38);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}