.operation-record{
  .record-block{
    h3.title{
      color:#444;
      font-weight: 700;
    }
  }
  .responsive-table{
    margin:5px auto;
    border:1px solid #999;
    thead{
      th{
         background-color: #999;
         color:#FFF;
      }
    }
  }

}