.rv-year-overview {
    .viewTable {
      &.fixedTable{
        thead{
          background-color: #FFF;
        }
      }
        thead {
            th {
                cursor: pointer;
            }
            th.sort-this {
                background: #EEE;
                .material-icons {
                    color: #f57c00;
                }
            }
            .material-icons {
                font-size: 12px;
                color: #888;
                vertical-align: middle;
                cursor: pointer;
                letter-spacing: -4px;
                font-weight: 700;
            }
        }
        tbody {
            tr {
                background: #e0f7fa;
            }
            tr.ceo-tr {
                color: #000;
                font-size: 14px;
                font-weight: 700;
            }
            tr.not_end {
                background: #FFF;
                color: #999;
                &.ceo-tr{
                   color:#000;
                }
            }
            tr.del {
                background: #FFF;
                color: red;
            }
            .close {
                color: red;
            }
        }
    }
    .filter-date {
        .export {
            display: inline-block;
            float: left;
        }
        .search-input {
            display: inline-block;
            float: left;
            min-width: 230px;
            input {
                float: right;
                width: 200px;
                margin-right: 5px;
                padding-left: 35px;
            }
            .material-icons {
                height: 34px;
                line-height: 34px;
                color: #ff8c15;
                position: relative;
                left: 35px;
            }
        }
    }
    .finalScore {
        width: 100%;
        th {
            width: 9%;
        }
        td {
            width: 32%;
            font-size: 22px;
        }
        .scoreLevel {
            font-size: 26px;
            line-height: 0.8em;
        }
    }
    .sidenav {
        width: calc(100% - 240px);
        height: 100%;
        position: fixed;
        box-sizing: border-box;
        z-index: 5;
        top: 64px;
        left: 100%;
        background-color: #fff;
        overflow-x: hidden;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        .sideArea {
            padding: 20px 20px 60px;
            background: transparent;
            background: #FFF;
        }
        .save {
            right: 80px;
            position: absolute;
            bottom: 0;
            margin: 0;
        }
    }

    .moveleft {
        left: 240px;
        transform: translate3d(0, 0, 0);
        will-change: transform;
        animation-name: gogomove;
        animation-duration: 1s;
    }
    @keyframes gogomove {
        from {
            left: 100%;
        }
        to {
            left: 240px;
        }
    }

    .level-group {
        &:after {
            display: block;
            content: "";
            clear: both;
        }
        .s2 {
            width: 19.2%;
            padding: 0;
            margin-right: 10px;
        }
        @media only screen and (max-width: 1645px) {
            .s2 {
                width: 18.8%;
            }
        }
        .bs-component {
            position: relative;
            .level-blocks {
                position: relative;
                overflow: hidden;
                margin-bottom: 20px;
                border: 1px solid #eee;
                border-color: #e7e7e7;
                border-radius: 2px;
                background-color: #fff;
                box-shadow: none;
                text-align: center;
                .level-header {
                    padding: 12px;
                    border-bottom: 1px solid #EEE;
                    .fs11 {
                        font-size: 11px;
                        i {
                            font-size: 14px;
                            font-weight: bold;
                            transform: translateY(3px);
                        }
                    }
                }
                .level-body {
                    // background: #F2F2F2;
                    color: #666;
                    position: relative;
                    padding: 15px;
                    .fs35 {
                        margin-top: 5px;
                        margin-bottom: 0;
                        font-size: 35px;
                        font-family: inherit;
                        font-weight: 600;
                        line-height: 1.1;
                        color: inherit;
                    }
                    .text-system {
                        color: #37bc9b;
                        font-size: 11px;
                        font-weight: bold;
                        letter-spacing: 1px;
                    }
                }
                .level-footer {
                    padding: 12px;
                    border-top: 1px solid #EEE;
                    .fs11 {
                        font-size: 11px;
                        i {
                            font-size: 14px;
                            font-weight: bold;
                            transform: translateY(3px);
                        }
                    }
                }
            }
        }
        .level-area {
            border: 1px solid #D8D8D8;
            display: inline-block;
            float: left;
            padding: 8px 20px;
            border-radius: 6px;
            width: 18%;
            margin: 1%;
            &:after {
                display: block;
                content: "";
                clear: both;
            }
            &>span {
                float: left;
                color: #D8D8D8;
                &.level {
                    font-size: 70px;
                    line-height: 76px;
                    width: 80px;
                }
                &.level-now-no {
                    font-size: 70px;
                    line-height: 76px;
                    color: #333;
                    min-width: 55px;
                    text-align: center;
                }
                &.level-range {
                    position: relative;
                    top: 18px;
                    float: right;
                    &>span {
                        display: block;
                    }
                }
            }
        }
    }
    .answer-group {
        .comment {
            padding: 10px;
            margin: 0;
            background: #ebebe4;
            border: 1px solid #a9a9a9;
            word-break: break-all;
            min-height: 65px;
            li{
                line-height: 1.5em;
                padding: 5px 0 5px 0;
            }
            .subtitle{
                font-size: 16px;
                height: 38px;
                line-height: 38px;
                border-bottom: 1px dashed #b6b6a7;
                font-weight: bold;
                text-shadow: 2px 2px 2px #FFF;
            }
            .title {
                font-size: 11px;
                color: #999;
                padding-right: 5px;
            }
            .word {
                color: #000;
            }
        }
    }
}

#mySidenav {
    .brand-actions {
        float: left;
        width: 100%;
        a {
            margin: 12px 8px;
            cursor: pointer;
            display: inline-block;
            padding: 5px;
            border: 1px solid #dddddd;
            padding-bottom: 0;
            border-radius: 5px;
            box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.18);
        }
        a:active {
            box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.18)
        }
    }
    .card-body {
        .grade {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            span {
                width: 60px;
                height: 60px;
                line-height: 60px;
                display: inline-block;
                font-size: 22px;
                text-align: center;
                background: #ff8b15;
                border-radius: 50%;
            }
        }
    }
}

@media only screen and (max-width: 1280px) {
    .rv-year-overview {
        .sidenav {
            width: 100%;
        }
        .moveleft {
            left: 0px;
        }
        @keyframes gogomove {
            from {
                left: 100%;
            }
            to {
                left: 0px;
            }
        }
    }
}