<div id="Management-ForgetCard">
    <link rel="stylesheet" href="<?=U('/Public//css/dropzone.css')?>">
    <script src="<?=U('/Public/js/dropzone.js')?>"></script>
    <div class="had-container">
        <h1 class="rv-title">年度出缺勤補卡次數匯入</h1>
        <div class="filter-date row">
              <h3 class="title">請選擇年份</h3>
              <div class="dropdown">
                  <select id="getYear" class="btn dropdown-button" type="button" >
                  </select>
              </div>
                <div>    
                   <a class="waves-effect waves-light btn teal darken-1" data-toggle="downlaod-staff" title="請先下載該年度樣版後，更新資料後上傳">
                       下載樣版
                    </a>
                </div>
        </div>
        <div class="import-block container">

            <div class="section">
                <h3 class="att-title">上傳補卡次數檔案</h3>
                <div class="drop-fild-block">
                    <form action="/" method="post" enctype="multipart/form-data" class="dropzone dz-clickable">
                        <div class="dz-default dz-message"><span>把檔案拉到這裏就可以上傳<br>或者點選此處選擇要上傳的檔案</span></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="<?=U('/Public/js/Index/Management-ForgetCard.js')?>"></script>