<div id="SettingEvaluation">
    <div class="had-container">
        <h1 class="rv-title">月考評作業流程設定</h1>
        <div class="evaluation-setting">
            <div class="row filter-date">
                <div class="row year-select">
                    <h3 class="title">請選擇年份</h3>
                    <div class="dropdown">
                        <select id="getYear" class="btn dropdown-button" type="button" v-model="now.year">
                        </select>
                    </div>
                </div>
                <div class="month-select">
                    <h3 class="title">請選擇月份</h3>
                    <form action="#" class="row month-list" style="margin-bottom: 0;">
                        <span v-for="value in monthArray">
                            <input name="month-choose" type="radio" :id="'eva-month-'+value" @change="now.month=value" />
                            <label :for="'eva-month-'+value">{{value}}月</label>
                        </span>
                    </form>
                </div>
            </div>
            
            <div class="row month-setting">
                <div class="title">
                    <span>{{now.year}}</span> 年
                    <span> {{now.month}} </span> 月考評參數設定</div>
                <div class="forms-block">
                    <div class="row">
                        <div class="col s12 m12">
                            <div class="form-group">
                                <label class="col s4 m2 control-label">起始/結束日期設定</label>
                                <div class="process-date col s8">
                                    <span :class="{'month-range':(now.month-1) == 0}">
                                        <i class="last-month" v-if="(now.month-1) == 0"> {{(now.year-1)}} 年 12 月</i>
                                        <i v-if="(now.month-1)>0">{{(now.month -1) >= 10 ? (now.month -1) : '0'+ (now.month -1) || 12}}月</i>
                                        <input type="text" maxlength="2" class="form-control date" v-model="setting.day_start">
                                    </span>
                                    <span class="icon">
                                        <i class="material-icons">keyboard_arrow_right</i>
                                    </span>
                                    <span>
                                        <i>{{now.month }}月</i>
                                        <input type="text" maxlength="2" class="form-control date" v-model="setting.day_end">
                                    </span>
                                    <div class="tip-word col s12">
                                        <p>請填寫考評的起始日期及結束日期</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12">
                            <div class="form-group">
                                <label class="col s4 m2 control-label">設定考評之天數</label>
                                <div class="rate-days col s8">
                                    <input type="text" maxlength="2" class="form-control date" v-model="setting.day_cut_addition">
                                    <div class="tip-word col s12">
                                        <p>請設定啟動日後，主管要考評的天數</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12">
                            <div class="form-group eva-start">
                                <label class="col s4 m2 control-label">啟動考評</label>
                                <div class="switch col s8">
                                    <label>
                                        <input type="checkbox" id="LaunchBtn" v-model="isLaunch" @change="launchBotton">
                                        <span class="lever"></span>
                                    </label>
                                    <div class="eva-end-date">
                                        <p>{{finalDay}} 需完成考評</p>
                                    </div>
                                    <div class="tip-word col s12">
                                        <p>請按上方按鈕啟動/關閉 考評</p>
                                        <p class="tip-em">
                                            <i class="material-icons md-18">error_outline</i> 啟動考評時，「組織設定」及「批次匯入員工資料」皆不可使用；考評關閉後方可設定組織及批次匯人員工資料。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" v-show="canUpdate">
                        <div class="col s4 m2"></div>
                        <div class="col s8 m10" style="margin: 0;">
                            <a class="waves-effect waves-light btn btn-update" @click="submit">更新設定</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row month-setting">
                <div class="title">
                    <span>{{now.year}}</span> 年
                    <span> {{now.month}} </span> 月考評單處理
                    
                </div>
                <div class="forms-block">
                    <div class="row">
                        <div class="col s4 m2">
                            <h5>考評單狀態</h5>
                        </div>
                        <div class="col s6 m4" style="margin: 0;">
                            <ul>
                                <li class="orange-text text-darken-2">
                                    <template v-if="has_monthly_data">已產生</template>
                                    <template v-else>尚未產生</template>
                                    本月份的考評單
                                </li>
                                <li v-show="!canUpdate" class="red-text text-darken-3">
                                    超過三個月或已經結束考評作業流程，無法處理本月份考評單
                                </li>
                            </ul>
                        </div>
                        <div class="col s2 m6">
                            <div class="" v-show="canUpdate">
                                <div class="" style="margin-bottom: 10px;">
                                    <div class="body" style="margin-left: 0; max-width: none; border: none;">
                                        <template v-if="!has_monthly_data">
                                            <div class="message">
                                                <template>
                                                    <span>請確認【組織設定】、【考評參數設定】等相關數據是否正確再產生本月份考評單。</span>
                                                </template>
                                            </div>
                                        </template>
                                        <template v-if="has_monthly_data">
                                            <ul class="message browser-default" style="padding-left: 25px;">
                                                <template v-if="!config_isLaunch">
                                                    <li>以下功能不會影響已填寫的【工作評語】。</li>
                                                    <li>以下功能操作後，所有考評單狀態都會回到 "初始階段" 。</li>
                                                    <li>若有組織異動時可使用【特定考評單重製】僅會重製<span class="red-text text-lighten-1">異動前後所屬主管不同</span>的考評單 "分數回到初始分數"。</li>
                                                    <li>非必要請勿使用【所有考評單重製】<span class="red-text text-lighten-1">所有考評單</span> "分數回到初始分數"。</li>
                                                </template>
                                                <template v-if="config_isLaunch">
                                                    <li>需關閉考評才可處理考評表。</li>
                                                </template>
                                            </ul>
                                        </template>
                                    </div>
                                </div>
                                <a class="waves-effect waves-light btn btn-update" v-if="has_monthly_data==false && !config_isLaunch" @click="createProcessing">
                                    <span class="bold700 text120">產生</span>
                                    <span>{{now.year}}</span> 年
                                    <span> {{now.month}} </span> 月考評單</a>
                                <a class="btn blue lighten-1"
                                    :class="{disabled: config_isLaunch, 'waves-effect waves-light': !config_isLaunch}"
                                    v-if="has_monthly_data" @click="delRefreshMonthly('recheck')">
                                    <span class="bold700 text120">特定考評單重製</span>
                                </a>
                                <a class="btn red lighten-2"
                                    :class="{disabled: config_isLaunch, 'waves-effect waves-light': !config_isLaunch}"
                                    v-if="has_monthly_data" @click="delRefreshMonthly('del')">
                                    <span class="bold700 text120">所有考評單重製</span>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="<?=U('/Public/js/Index/Setting-MonthEvaluation.js')?>"></script>