<style>
    .already-fix-table .fixedTable th {
        background-color: #fff;
    }

    .already-fix-table .fixedTable th i {
        display: none;
    }

    .already-fix-table .fixedTable {
        z-index: 5;
    }

    #year-resultBlock .table-striped th {
        padding-left: 0px;
        padding-right: 0px;
    }
</style>

<div id="Year-EvaluationOverview">
    <div class="had-container rv-year-overview">
        <h1 class="rv-title">年度績效總覽</h1>
        <div class="row filter-date">
            <h3 class="title">請選擇日期</h3>
            <div class="dropdown">
                <select id="getYear" class="btn dropdown-button" type="button" v-model="year" v-on:change="DataInit()">
                </select>
            </div>
            <div class="dropdown">
                <select id="getDep" class="btn dropdown-button" type="button" v-model="devno" v-on:change="DataInit()">
                    <option value="1">運維中心</option>
                    <option value="2">部門單位</option>
                    <option value="3">處單位</option>
                    <option value="4">組單位</option>
                    <option value="0" selected="">全部單位</option>
                </select>
            </div>
            <div class="dropdown">
                <select id="getOver" class="btn dropdown-button" type="button" v-model="is_over" v-on:change="DataInit()">
                    <option value="0">全部</option>
                    <option value="1">已評分結束</option>
                </select>
            </div>
            <div class="assBlock">
                <input id="assistant" type="checkbox" class="myinput large" v-model="w_ass" v-on:change="DataInit()" checked>
                <span>助理 (是否出現助理人員) </span>
            </div>
            <div class="dropdown right">
                <div class="search-input input-field valign-wrapper">
                    <i class="material-icons">search</i>
                    <input placeholder="請輸中/英文名查詢" type="text" class="form-control" :value="personName" v-model="personName">
                </div>
                <!-- 部長，ceo，admin才能下載總覽的excel -->
                <div class="input-field export" v-if="memberLv ==1 ||memberLv ==2||isAdmin ==1">
                    <a class="waves-effect waves-light btn teal darken-1" v-on:click="expoYearlyExcel()">匯出 Excel</a>
                </div>
            </div>
        </div>
        <!-- <div id="NoData" class="no-data">
            <p> 查無資料</p>
        </div> -->
        <div id="NoData" class="col s12 l12 no-data nullDataInfo">
            <div class="title">査無符合篩選條件的資料</div>
            <div class="content">
                若有疑問請向【人力資源處】承辦人員詢問。
            </div>
        </div>
        <div id="year-resultBlock">
            <div class="row" v-if="isleader || isAdmin">
                <div class="level-group">
                    <div class="col s2" v-for="range in scoreRange">
                        <div class="bs-component">
                            <div class="level-blocks">
                                <div class="level-header">
                                    <span class="fs11">
                                        <i class="material-icons red-text text-darken-1">arrow_upward</i>
                                        <span class="red-text text-darken-1">max</span>
                                        <b>人數上限值</b>&nbsp;&nbsp;【
                                        <span>{{rateLimit(range)}}</span>】人</span>
                                </div>
                                <div class="level-body">
                                    <h1 class="fs35 mbn scoreA" v-if="range.name == 'A'">{{range.name}}：{{range.count}}人</h1>
                                    <h1 class="fs35 mbn scoreB" v-if="range.name == 'B'">{{range.name}}：{{range.count}}人</h1>
                                    <h1 class="fs35 mbn scoreC" v-if="range.name == 'C'">{{range.name}}：{{range.count}}人</h1>
                                    <h1 class="fs35 mbn scoreD" v-if="range.name == 'D'">{{range.name}}：{{range.count}}人</h1>
                                    <h1 class="fs35 mbn scoreE" v-if="range.name == 'E'">{{range.name}}：{{range.count}}人</h1>
                                    <h6 class="text-system scoreA" v-if="range.name == 'A'">{{range.score_least}} ~{{range.score_limit}}</h6>
                                    <h6 class="text-system scoreB" v-if="range.name == 'B'">{{range.score_least}} ~{{range.score_limit}}</h6>
                                    <h6 class="text-system scoreC" v-if="range.name == 'C'">{{range.score_least}} ~{{range.score_limit}}</h6>
                                    <h6 class="text-system scoreD" v-if="range.name == 'D'">{{range.score_least}} ~{{range.score_limit}}</h6>
                                    <h6 class="text-system scoreE" v-if="range.name == 'E'">{{range.score_least}} ~{{range.score_limit}}</h6>
                                </div>
                                <div class="level-footer">
                                    <span class="fs11">
                                        <i class="material-icons green-text text-darken-1">arrow_downward</i>
                                        <span class="green-text text-darken-1">min</span>
                                        <b>人數下限值</b>&nbsp;&nbsp;【
                                        <span>{{rateLeast(range)}}</span>】人</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" v-if="viewData.leader">
                <h2 v-if="viewData.leader.length!=0">單位主管</h2>
                <div>
                    <div class="card">
                        <table class="table table-striped viewTable" v-if="viewData.leader.length!=0">
                            <thead>
                                <tr>
                                    <th @click="LeaderSortBy('division_code')" :class="{'sort-this':report_sort_now=='division_code'}">部門名稱
                                        <i v-if="report_sort['division_code']==1" class="material-icons">arrow_downward</i>
                                        <i v-else class="material-icons">arrow_upward</i>
                                    </th>
                                    <th @click="LeaderSortBy('department_name')" :class="{'sort-this':report_sort_now=='department_name'}">組處名稱
                                        <i v-if="report_sort['department_name']==1" class="material-icons">arrow_downward</i>
                                        <i v-else class="material-icons">arrow_upward</i>
                                    </th>
                                    <th @click="LeaderSortBy('staff_no')" :class="{'sort-this':report_sort_now=='staff_no'}">員工編號
                                        <i v-if="report_sort['staff_no']==1" class="material-icons">arrow_downward</i>
                                        <i v-else class="material-icons">arrow_upward</i>
                                    </th>
                                    <th @click="LeaderSortBy('staff_post')" :class="{'sort-this':report_sort_now=='staff_post'}">職務
                                        <i v-if="report_sort['staff_post']==1" class="material-icons">arrow_downward</i>
                                        <i v-else class="material-icons">arrow_upward</i>
                                    </th>
                                    <th @click="LeaderSortBy('staff_title')" :class="{'sort-this':report_sort_now=='staff_title'}">職類
                                        <i v-if="report_sort['staff_title']==1" class="material-icons">arrow_downward</i>
                                        <i v-else class="material-icons">arrow_upward</i>
                                    </th>
                                    <th @click="LeaderSortBy('staff_first_day')" :class="{'sort-this':report_sort_now=='staff_first_day'}">到職日期
                                        <i v-if="report_sort['staff_first_day']==1" class="material-icons">arrow_downward</i>
                                        <i v-else class="material-icons">arrow_upward</i>
                                    </th>
                                    <th @click="LeaderSortBy('staff_name')" :class="{'sort-this':report_sort_now=='staff_name'}">員工姓名
                                        <i v-if="report_sort['staff_name']==1" class="material-icons">arrow_downward</i>
                                        <i v-else class="material-icons">arrow_upward</i>
                                    </th>
                                    <th v-if="isAdmin ==1 ||isCEO==1 " @click="LeaderSortBy('assessment_total')" :class="{'sort-this':report_sort_now=='assessment_total'}">總分
                                        <i v-if="report_sort['assessment_total']==1" class="material-icons">arrow_downward</i>
                                        <i v-else class="material-icons">arrow_upward</i>
                                    </th>
                                    <th v-if="isAdmin ==1 ||isCEO==1 " @click="LeaderSortBy('assessment_total_division_change')" :class="{'sort-this':report_sort_now=='assessment_total_division_change'}">部長加減
                                        <i v-if="report_sort['assessment_total_division_change']==1" class="material-icons">arrow_downward</i>
                                        <i v-else class="material-icons">arrow_upward</i>
                                    </th>
                                    <th v-if="isAdmin ==1 ||isCEO==1 " @click="LeaderSortBy('assessment_total_ceo_change')" :class="{'sort-this':report_sort_now=='assessment_total_ceo_change'}">CEO加減
                                        <i v-if="report_sort['assessment_total_ceo_change']==1" class="material-icons">arrow_downward</i>
                                        <i v-else class="material-icons">arrow_upward</i>
                                    </th>
                                    <th v-if="isAdmin ==1 ||isCEO==1 " @click="LeaderSortBy('assessment_total_final')" :class="{'sort-this':report_sort_now=='assessment_total_final'}">最後總分
                                        <i v-if="report_sort['assessment_total_final']==1" class="material-icons">arrow_downward</i>
                                        <i v-else class="material-icons">arrow_upward</i>
                                    </th>
                                    <th @click="LeaderSortBy('level')" :class="{'sort-this':report_sort_now=='level'}">評等
                                        <i v-if="report_sort['level']==1" class="material-icons">arrow_downward</i>
                                        <i v-else class="material-icons">arrow_upward</i>
                                    </th>
                                    <th>詳細考評單按鈕</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(leader,index) in viewData.leader " :class="{not_end:leader.level =='-', 'del':leader.enable ==0,'ceo-tr':leader.staff_id ==1}"
                                    v-if="
                    leader.staff_name.indexOf(personName) != -1 ||
                     leader.staff_name_en.toLowerCase().indexOf(personName.toLowerCase()) != -1
                    ">
                                    <td>{{leader.division_code}}{{leader.division_name}}</td>
                                    <td>{{leader.department_name}}</td>
                                    <td>{{leader.staff_no}}</td>
                                    <td>{{leader.staff_post}}</td>
                                    <td>{{leader.staff_title}}</td>
                                    <td>{{leader.staff_first_day}}</td>
                                    <td>{{leader.staff_name}} {{leader.staff_name_en}}</td>
                                    <td v-if="isAdmin ==1 ||isCEO==1 ">{{leader.assessment_total}}</td>
                                    <td v-if="isAdmin ==1 ||isCEO==1 ">{{leader.assessment_total_division_change}}</td>
                                    <td v-if="isAdmin ==1 ||isCEO==1 ">{{leader.assessment_total_ceo_change}}</td>
                                    <td v-if="isAdmin ==1 ||isCEO==1 "> {{leader.assessment_total + leader.assessment_total_division_change + leader.assessment_total_ceo_change}}
                                    </td>
                                    <td>{{leader.level}}</td>
                                    <td v-if="leader.enable ==1">
                                        <a class="waves-effect waves-light btn" v-on:click="personalReport(leader,1)">考評單</a>
                                    </td>
                                    <td v-if="leader.enable ==0">
                                        <span class="close">已作廢</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" v-if="viewData.staff">
                <h2 v-if="viewData.staff !=0">一般員工</h2>
                <div>
                    <div class="card">
                        <table class="table table-striped viewTable staff-table" v-if="viewData.staff !=0">
                            <thead>
                                <tr>
                                    <th @click="StaffSortBy('division_code')" :class="{'sort-this':staff_sort_now=='division_code'}">部門名稱
                                        <i v-if="staff_sort['division_code']==1" class="material-icons">arrow_downward</i>
                                        <i v-else class="material-icons">arrow_upward</i>
                                    </th>
                                    <th @click="StaffSortBy('department_name')" :class="{'sort-this':staff_sort_now=='department_name'}">組處名稱
                                        <i v-if="staff_sort['department_name']==1" class="material-icons">arrow_downward</i>
                                        <i v-else class="material-icons">arrow_upward</i>
                                    </th>
                                    <th @click="StaffSortBy('staff_no')" :class="{'sort-this':staff_sort_now=='staff_no'}">員工編號
                                        <i v-if="staff_sort['staff_no']==1" class="material-icons">arrow_downward</i>
                                        <i v-else class="material-icons">arrow_upward</i>
                                    </th>
                                    <th @click="StaffSortBy('staff_post')" :class="{'sort-this':staff_sort_now=='staff_post'}">職務
                                        <i v-if="staff_sort['staff_post']==1" class="material-icons">arrow_downward</i>
                                        <i v-else class="material-icons">arrow_upward</i>
                                    </th>
                                    <th @click="StaffSortBy('staff_title')" :class="{'sort-this':staff_sort_now=='staff_title'}">職類
                                        <i v-if="staff_sort['staff_title']==1" class="material-icons">arrow_downward</i>
                                        <i v-else class="material-icons">arrow_upward</i>
                                    </th>
                                    <th @click="StaffSortBy('staff_first_day')" :class="{'sort-this':staff_sort_now=='staff_first_day'}">到職日期
                                        <i v-if="staff_sort['staff_first_day']==1" class="material-icons">arrow_downward</i>
                                        <i v-else class="material-icons">arrow_upward</i>
                                    </th>
                                    <th @click="StaffSortBy('staff_name')" :class="{'sort-this':staff_sort_now=='staff_name'}">員工姓名
                                        <i v-if="staff_sort['staff_name']==1" class="material-icons">arrow_downward</i>
                                        <i v-else class="material-icons">arrow_upward</i>
                                    </th>
                                    <th v-if="isAdmin ==1 ||isCEO==1" @click="StaffSortBy('assessment_total')" :class="{'sort-this':staff_sort_now=='assessment_total'}">總分
                                        <i v-if="staff_sort['assessment_total']==1" class="material-icons">arrow_downward</i>
                                        <i v-else class="material-icons">arrow_upward</i>
                                    </th>
                                    <th v-if="isAdmin ==1 ||isCEO==1 " @click="StaffSortBy('assessment_total_division_change')" :class="{'sort-this':staff_sort_now=='assessment_total_division_change'}">部長加減
                                        <i v-if="staff_sort['assessment_total_division_change']==1" class="material-icons">arrow_downward</i>
                                        <i v-else class="material-icons">arrow_upward</i>
                                    </th>
                                    <th v-if="isAdmin ==1 ||isCEO==1 " @click="StaffSortBy('assessment_total_ceo_change')" :class="{'sort-this':staff_sort_now=='assessment_total_ceo_change'}">CEO加減
                                        <i v-if="staff_sort['assessment_total_ceo_change']==1" class="material-icons">arrow_downward</i>
                                        <i v-else class="material-icons">arrow_upward</i>
                                    </th>
                                    <th v-if="isAdmin ==1 ||isCEO==1 " @click="StaffSortBy('assessment_total_final')" :class="{'sort-this':staff_sort_now=='assessment_total_final'}">最後總分
                                        <i v-if="staff_sort['assessment_total_final']==1" class="material-icons">arrow_downward</i>
                                        <i v-else class="material-icons">arrow_upward</i>
                                    </th>
                                    <th @click="StaffSortBy('level')" :class="{'sort-this':staff_sort_now=='level'}">評等
                                        <i v-if="staff_sort['level']==1" class="material-icons">arrow_downward</i>
                                        <i v-else class="material-icons">arrow_upward</i>
                                    </th>
                                    <th>詳細考評單按鈕</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(staffdata,index) in viewData.staff" :class="{not_end:staffdata.level =='-', del:staffdata.enable ==0}" v-if="
                                staffdata.staff_name.indexOf(personName) != -1 ||
                                 staffdata.staff_name_en.toLowerCase().indexOf(personName.toLowerCase()) != -1
                                ">
                                    <td>{{staffdata.division_code}}{{staffdata.division_name}}</td>
                                    <td>{{staffdata.department_name}}</td>
                                    <td>{{staffdata.staff_no}}</td>
                                    <td>{{staffdata.staff_post}}</td>
                                    <td>{{staffdata.staff_title}}</td>
                                    <td>{{staffdata.staff_first_day}}</td>
                                    <td>{{staffdata.staff_name}} {{staffdata.staff_name_en}}</td>
                                    <td v-if="isAdmin ==1 ||isCEO==1 ">{{staffdata.assessment_total}}</td>
                                    <td v-if="isAdmin ==1||isCEO==1 ">{{staffdata.assessment_total_division_change}}</td>
                                    <td v-if="isAdmin ==1 ||isCEO==1 ">{{staffdata.assessment_total_ceo_change}}</td>
                                    <td v-if="isAdmin ==1 ||isCEO==1 "> {{staffdata.assessment_total + staffdata.assessment_total_division_change + staffdata.assessment_total_ceo_change}}
                                    </td>
                                    <td>{{staffdata.level}}</td>
                                    <td v-if="staffdata.enable ==1">
                                        <a class="waves-effect waves-light btn" v-on:click="personalReport(staffdata,0)">考評單</a>
                                    </td>
                                    <td v-if="staffdata.enable ==0">
                                        <span class="close">已作廢</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- start of 單張考評單 -->
            <div id="template-personal">
                <div id="mySidenav" class="mb50">
                    <div class="sidenav rv-assess">
                        <div class="sideArea">
                            <h1 class="rv-title">
                                <span>{{personalInfo.staff_no}} {{personalInfo.staff_name}} {{personalInfo.staff_name_en}} 考評單</span>
                                <button class="modal-action modal-close btn-flat" v-on:click="closeSheet()">
                                    <i class="material-icons">close</i>
                                </button>
                            </h1>
                            <div class="brand-actions" v-if="isleader || isAdmin">
                                <span class="form-actions">
                                    <a title="匯出excel" v-on:click="downloadExcel(personalInfo.staff_id)">
                                        <i class="material-icons">vertical_align_bottom</i>
                                    </a>
                                </span>
                            </div>
                            <div class="card-body">
                                <div class="row mt5 mb5">
                                    <div class="step pull-left col s4">
                                        <span class="no">a.</span>考核項目</div>
                                    <div class="grade pull-right col s2 push-s7" v-if="personalInfo.level !='-'">
                                        <span class="grade_final white-text score_bgA" v-if="personalInfo.level=='A'"> {{personalInfo.level}}</span>
                                        <span class="grade_final white-text score_bgB" v-if="personalInfo.level=='B'"> {{personalInfo.level}}</span>
                                        <span class="grade_final white-text score_bgC" v-if="personalInfo.level=='C'"> {{personalInfo.level}}</span>
                                        <span class="grade_final white-text score_bgD" v-if="personalInfo.level=='D'"> {{personalInfo.level}}</span>
                                        <span class="grade_final white-text score_bgE" v-if="personalInfo.level=='E'"> {{personalInfo.level}}</span>
                                    </div>
                                </div>
                                <div class="year-evaluation-item-group">
                                    <table class="table table-fixed">
                                        <tbody>
                                            <tr>
                                                <th>受評對象</th>
                                                <td>{{personalInfo.staff_name}} {{personalInfo.staff_name_en}} ( {{personalInfo.staff_no}} )</td>
                                                <th>到職日</th>
                                                <td>{{personalInfo.staff_first_day}}</td>
                                            </tr>
                                            <tr>
                                                <th>部門</th>
                                                <td>{{personalInfo.division_name}}</td>
                                                <th>處/組單位</th>
                                                <td v-if="personalInfo.division_name !=personalInfo.department_name ">{{personalInfo.department_name}}</td>
                                                <td v-if="personalInfo.division_name ==personalInfo.department_name "> </td>
                                            </tr>
                                            <template v-if="!!personalInfo.staff_stay && personalInfo.staff_stay.length > 0">
                                                <tr class="stay-infor">
                                                    <th>留停記錄</th>
                                                    <td colspan="3" class="left-align">
                                                        <span class="log-list" v-for="(log, log_index) in personalInfo.staff_stay">
                                                            {{log.start_day}} - {{log.end_day}} <em v-if="!!log.return_day">(復職: {{log.return_day}})</em>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </template>
                                        </tbody>
                                    </table>
                                    <table class="table table-fixed">
                                        <thead>
                                            <tr>
                                                <th>{{year-1}}
                                                    <br>年考績等級</th>
                                                <th>{{year}}
                                                    <br>月績效均分</th>
                                                <th>遲到(次)</th>
                                                <th>忘刷(次)</th>
                                                <th>忘卡(次)</th>
                                                <th>事假(時)</th>
                                                <th>全薪病假(時)</th>
                                                <th>半薪病假(時)</th>
                                                <th>曠職(時)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{personalInfo.before_level}}</td>
                                                <td>{{personalInfo.monthly_average}}</td>
                                                <td>{{personalInfo.attendance_json.late}}</td>
                                                <td>{{personalInfo.attendance_json.forgetcard}}</td>
                                                <td>{{personalInfo.attendance_json.nocard}}</td>
                                                <td>{{personalInfo.attendance_json.leave}}</td>
                                                <td>{{personalInfo.attendance_json.paysick}}</td>
                                                <td>{{personalInfo.attendance_json.sick}}</td>
                                                <td>{{personalInfo.attendance_json.absent}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- ceo 和 admin 才能看詳細區塊 -->
                                    <div v-if="isAdmin ==1 ||isCEO==1 ">
                                        <!-- Leader Table -->
                                        <div class="year-evalution-table" v-if="personalInfo.staff_is_leader">
                                            <hr>
                                            <table class="table table-fixed" style="table-layout: fixed;" v-if="feedback[0]">
                                                <thead>
                                                    <tr>
                                                        <th colspan="11">部屬回饋問卷</th>
                                                    </tr>
                                                    <tr>
                                                        <th v-for="f in feedback">{{f.name}}</th>
                                                        <th>總分</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td v-for="f in feedback">{{f.point}}</td>
                                                        <td>{{feedback.total}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table class="table table-fixed">
                                                <thead>
                                                    <tr>
                                                        <th colspan="2">項目</th>
                                                        <th :colspan="item.itemBlock" v-for="(item, index) in leaderThead.titleArray">{{item.title}}</th>
                                                        <th rowspan="2">總分</th>
                                                    </tr>
                                                    <tr>
                                                        <th>比重</th>
                                                        <th>分數類別</th>
                                                        <th v-for="(topic, index) in leaderTopic">{{topic.name}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="ready">
                                                        <td>{{personalInfo.assessment_json.under.percent}}%</td>
                                                        <td>部屬</td>
                                                        <td colspan="17">部屬回饋問卷</td>
                                                        <td>
                                                            <div clayear-evalution-tabless="total">{{personalInfo.assessment_json.under.total}}</div>
                                                        </td>
                                                    </tr>
                                                    <tr class="ready">
                                                        <td>{{personalInfo.assessment_json.self.percent}}%</td>
                                                        <td>自評</td>
                                                        <td v-for="(score, index) in personalInfo.assessment_json.self.score">{{score}}</td>
                                                        <td>
                                                            <div class="total">{{totalScore(personalInfo.assessment_json.self.score)}}</div>
                                                        </td>
                                                    </tr>
                                                    <tr v-if="personalInfo.assessment_json[3]" class="ready">
                                                        <td>{{personalInfo.assessment_json[3].percent}}%</td>
                                                        <td>處主管評核</td>
                                                        <td v-for="(score, index) in personalInfo.assessment_json[3].score">{{score}}</td>
                                                        <td>
                                                            <div class="total">{{totalScore(personalInfo.assessment_json[3].score)}}</div>
                                                        </td>
                                                    </tr>
                                                    <tr v-if="personalInfo.assessment_json[2]" class="ready">
                                                        <td>{{personalInfo.assessment_json[2].percent}}%</td>
                                                        <td>部長評核</td>
                                                        <td v-for="(score, index) in personalInfo.assessment_json[2].score">{{score}}</td>
                                                        <td>
                                                            <div class="total">{{totalScore(personalInfo.assessment_json[2].score)}}</div>
                                                        </td>
                                                    </tr>
                                                    <tr v-if="personalInfo.assessment_json[1]" class="ready">
                                                        <td>{{personalInfo.assessment_json[1].percent}}%</td>
                                                        <td>Mickey評核</td>
                                                        <td v-for="(score, index) in personalInfo.assessment_json[1].score">{{score}}</td>
                                                        <td>
                                                            <div class="total">{{totalScore(personalInfo.assessment_json[1].score)}}</div>
                                                        </td>
                                                    </tr>
                                                    <tr class="ready">
                                                        <td>-</td>
                                                        <td>總分</td>
                                                        <td colspan="17"> 以上計算之總分 </td>
                                                        <td> {{personalInfo.assessment_total}}</td>
                                                    </tr>
                                                    <tr class="ready">
                                                        <td>加減分</td>
                                                        <td>部長</td>
                                                        <td colspan="17"> {{personalInfo.assessment_total_division_change}}</td>
                                                        <td> {{personalInfo.assessment_total+personalInfo.assessment_total_division_change}}</td>
                                                    </tr>
                                                    <tr class="ready">
                                                        <td>加減分</td>
                                                        <td>Mickey</td>
                                                        <td colspan="17"> {{personalInfo.assessment_total_ceo_change}}</td>
                                                        <td> {{personalInfo.assessment_total_final}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- Staff Table -->
                                        <div class="year-evalution-table" v-else>
                                            <table class="table table-fixed">
                                                <thead>
                                                    <tr>
                                                        <th colspan="2">項目</th>
                                                        <th :colspan="item.itemBlock" v-for="(item, index) in staffThead.titleArray">{{item.title}}</th>
                                                        <th rowspan="2">總分</th>
                                                    </tr>
                                                    <tr>
                                                        <th>比重</th>
                                                        <th>分數類別</th>
                                                        <th v-for="(topic, index) in staffTopic">{{topic.name}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="ready">
                                                        <td>{{personalInfo.assessment_json.self.percent}}%</td>
                                                        <td>自評</td>
                                                        <td v-for="score in personalInfo.assessment_json.self.score">{{score}}</td>
                                                        <td>
                                                            <div class="total">{{personalInfo.assessment_json.self.total}}</div>
                                                        </td>
                                                    </tr>
                                                    <tr v-if="personalInfo.assessment_json[4]" class="ready">
                                                        <td>{{personalInfo.assessment_json[4].percent}}%</td>
                                                        <td>組長初核</td>
                                                        <td v-for="score in personalInfo.assessment_json[4].score">{{score}}</td>
                                                        <td>
                                                            <div class="total">{{totalScore(personalInfo.assessment_json[4].score)}}</div>
                                                        </td>
                                                    </tr>
                                                    <tr v-if="personalInfo.assessment_json[3]" class="ready">
                                                        <td>{{personalInfo.assessment_json[3].percent}}%</td>
                                                        <td>處主管覆核</td>
                                                        <td v-for="score in personalInfo.assessment_json[3].score">{{score}}</td>
                                                        <td>
                                                            <div class="total">{{totalScore(personalInfo.assessment_json[3].score)}}</div>
                                                        </td>
                                                    </tr>
                                                    <tr v-if="personalInfo.assessment_json[2]" class="ready">
                                                        <td>{{personalInfo.assessment_json[2].percent}}%</td>
                                                        <td>部門主管核定</td>
                                                        <td v-for="score in personalInfo.assessment_json[2].score">{{score}}</td>
                                                        <td>
                                                            <div class="total">{{totalScore(personalInfo.assessment_json[2].score)}}</div>
                                                        </td>
                                                    </tr>
                                                    <tr class="ready">
                                                        <td>-</td>
                                                        <td>總分</td>
                                                        <td colspan="13"> 以上計算之總分 </td>
                                                        <td> {{personalInfo.assessment_total}}</td>
                                                    </tr>
                                                    <tr class="ready">
                                                        <td>加減分</td>
                                                        <td>部長</td>
                                                        <td colspan="13"> {{personalInfo.assessment_total_division_change}}</td>
                                                        <td> {{personalInfo.assessment_total+personalInfo.assessment_total_division_change}}</td>
                                                    </tr>
                                                    <tr class="ready">
                                                        <td>加減分</td>
                                                        <td>Mickey</td>
                                                        <td colspan="13"> {{personalInfo.assessment_total_ceo_change}}</td>
                                                        <td> {{personalInfo.assessment_total_final}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- 總分及評等 -->
                                    <table class="table table-fixed  finalScore">
                                        <tbody>
                                            <tr>
                                                <th>評等</th>
                                                <td class="scoreLevel">{{personalInfo.level}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- b 問答題 -->
                                <div class="step">
                                    <span class="no">b.</span>問答題</div>
                                <div class="questions mb50">
                                    <div class="question-group">
                                        <div class="question-area">
                                            <div class="question">今年度在公司的主要貢獻：</div>
                                            <div class="answer-group">
                                                <textarea disabled v-model="personalInfo.self_contribution"></textarea>
                                            </div>
                                        </div>
                                        <div class="question-area">
                                            <div class="question">未來需要加強及改進之處：</div>
                                            <div class="answer-group">
                                                <textarea disabled v-model="personalInfo.self_improve"></textarea>
                                            </div>
                                        </div>
                                        <div class="question-area" v-if="authCom && personalInfo.staff_is_leader && underComment">
                                            <div class="question">部屬回饋：</div>
                                            <div class="answer-group">
                                                <div>
                                                    <!-- <ul class="comment">
                                                        <li v-for="(com,index) in underComment">
                                                            <span class="title"> {{com.question_title}}</span>
                                                            <span class="word">{{com.content}}</span>
                                                        </li>
                                                    </ul> -->
                                                    <ul class="comment">
                                                        <li>
                                                            <ul v-if="underComm.adv.length">
                                                                <li class="subtitle orange-text text-darken-2">優點</li>
                                                                <li v-for="(com,index) in underComm.adv">
                                                                    <span class="title"> {{index+1}}</span>
                                                                    <span class="word">{{com.content}}</span>
                                                                </li>
                                                            </ul>
                                                            <ul v-if="underComm.impro.length">
                                                                    <li class="subtitle red-text text-darken-2">改善</li>
                                                                    <li v-for="(com,index) in underComm.impro">
                                                                        <span class="title"> {{index+1}}</span>
                                                                        <span class="word">{{com.content}}</span>
                                                                    </li>
                                                            </ul>

                                                            <ul  v-if="underComm.sugg.length">
                                                                    <li class="subtitle green-text text-darken-3">建議</li>
                                                                    <li v-for="(com,index) in underComm.sugg">
                                                                        <span class="title"> {{index+1}}</span>
                                                                        <span class="word">{{com.content}}</span>
                                                                    </li>
                                                                </ul>
                                                        </li>

                                                    </ul>





                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="question-area"> -->
                                        <div class="question-area" v-if="authCom && personalInfo.staff_is_leader &&otherComment">
                                            <div class="question">其他部門回饋：</div>
                                            <div class="answer-group">
                                                <div>
                                                    <ul class="comment">
                                                        <li v-for="(other,index) in otherComment">
                                                            <span class="title"> {{index+1}}</span>
                                                            <span class="word ">{{other.content}}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="question-area" v-if="personalInfo.upper_comment[4]">
                                            <div class="question">組長評語：</div>
                                            <div class="answer-group">
                                                <textarea disabled v-model="personalInfo.upper_comment[4].content"></textarea>
                                            </div>
                                        </div>
                                        <div class="question-area" v-if="personalInfo.upper_comment[3]">
                                            <div class="question">處主管評語：</div>
                                            <div class="answer-group">
                                                <textarea disabled v-model="personalInfo.upper_comment[3].content"></textarea>
                                            </div>
                                        </div>
                                        <div class="question-area" v-if="personalInfo.upper_comment[2]">
                                            <div class="question">部門主管評語：</div>
                                            <div class="answer-group">
                                                <textarea disabled v-model="personalInfo.upper_comment[2].content"></textarea>
                                            </div>
                                        </div>
                                        <div class="question-area" v-if="personalInfo.upper_comment[1]">
                                            <div class="question">運維主管評語：</div>
                                            <div class="answer-group">
                                                <textarea disabled v-model="personalInfo.upper_comment[1].content"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of 單張考評單 -->
        </div>
    </div>
</div>
<script type="text/javascript" src="<?=U('/Public/js/Index/Year-EvaluationOverview.js')?>"></script>